{% extends "base.twig" %}

{% block content %}
  <div class="container container--text-nosidebar four-o-four">
    <h1 style="text-align:center;">{{error.title|title}}</h1>
    <div class="Lead Lead--center">{{error.description}}</div>
  </div>
{% endblock %}
