{% extends "base.twig" %}

{% block content %}
  <!-- <section class="Banner Banner--{{acf.banner_size}}" style="background-image:url({{acf.image|first.url_l}})">
    <h1 class="Heading--dropshadow">{{post.title|title}}</h1>
  </section> -->



{% endblock %}
