{% extends "base.twig" %}

{% block content %}
  {% set with_sidebar = no_sidebar ? 'text-nosidebar' : '' %}
  {% set direction = sidebar_position == 'leftSidebar' ? 'right' : 'left' %}

  {% include 'components/banner.twig' %}
  <div class="container {{'SinglePage'|modifiers("#{sidebar_position}, slimSidebar")}}">
    <div class="SinglePage-content {{'container'|modifiers("text, #{direction}, nopadding, #{with_sidebar}")}} content-body">
      {% if acf.teaser %}
        <h3 class="Lead">{{acf.teaser}}</h3>
      {% endif %}
      {% include 'layout/base.twig' %}
    </div>

    {% if not no_sidebar %}
      <div class="SinglePage-sidebar Sidebar">
        {% if hierarchy %}
          <ul class="List Toc">{{hierarchy}}</ul>
        {% endif %}
        {% include 'layout/sidebar-base.twig' %}
      </div>
    {% endif %}
  </div>
{% endblock %}
