{% extends "base.twig" %}

{% block content %}
  <script>
    (function() {
      var cx = '{{gcse_id}}';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>

  <div class="CustomSearch container">
    <div class="CustomSearch-sidebar Sidebar">
      <h3 class="Lead">{{__('Filter Search', 'saat')}}</h3>
      <div class="CustomSearch-sidebarBody">
        {# Sidebar Builder #}
        {% if sidebar_sections %}
          {% include 'layout/sidebar-base.twig' %}
        {% endif %}
      </div>
    </div>
    <div class="CustomSearch-result">
      {# Breadcrumb #}
      {% include 'components/breadcrumb.twig' with {data: breadcrumb, style: 'brand', trailing: 'noTrail'} %}

      <h2 class="Lead Lead--section brand">{{__('Search', 'saat')}}</h2>
      <gcse:search linktarget="_parent"></gcse:search>
    </div>
  </div>
{% endblock %}
