{% extends "base.twig" %}

{% block content %}

    <!-- {% include 'components/banner.twig' %} -->

    <div class="SinglePage container">
      <div class="SinglePage-content container--text container--left container--nopadding {% if not sidebar %}container-text--nosidebar{% endif %}">
        {% include 'components/breadcrumb.twig' with {data: breadcrumb} %}
        {% if acf.teaser %}
          <div class="Lead Lead--intro">{{acf.teaser}}</div>
        {% endif %}
        {% include 'layout/base.twig' %}
      </div>

      <div class="SinglePage-sidebar Sidebar">
        {% if hierarchy %}
          <ul class="List">{{hierarchy}}</ul>
        {% endif %}
        <!-- {% include 'layout/sidebar-base.twig' %} -->
      </div>

    </div>
{% endblock %}
