{% extends "base.twig" %}

{% block content %}
  <div class="wrapper">
    {% include 'components/banner.twig' %}
    <div class="SinglePage container">
      <div class="SinglePage-content container--text container--left container--nopadding {% if not sidebar %}container-text--nosidebar{% endif %}">
        {% if acf.teaser %}
          <div class="Lead Lead--intro">{{acf.teaser}}</div>
        {% endif %}
        {% include 'layout/base.twig' %}
      </div>

      <!-- <div class="SinglePage-sidebar Sidebar">
        {% if hierarchy %}
          <div class="Callout">
            <h4 class="Sidebar-heading"><a href="{{breadcrumb|first.link}}">{{breadcrumb|first.title}}</a></h4>
            <ul class="List List--sidebar">{{hierarchy}}</ul>
          </div>
        {% endif %}
        {% include 'layout/sidebar-base.twig' %}
      </div> -->
    </div>
  </div>
{% endblock %}
