{% extends "base.twig" %}

{% block content %}
  {% set with_sidebar = no_sidebar ? 'text-nosidebar' : '' %}
  {% set direction = sidebar_position == 'leftSidebar' ? 'right' : 'left' %}

  {% include 'components/banner.twig' %}
  <div class="container {{'SinglePage'|modifiers("#{sidebar_position}")}}">
    <div class="SinglePage-content {{'container'|modifiers("text, #{direction}, nopadding, #{with_sidebar}")}}">
      {% if acf.teaser %}
        <div class="Lead Lead--intro Lead--overview">{{acf.teaser}}</div>
      {% endif %}
      {% include 'layout/base.twig' %}
    </div>

    {% if not no_sidebar %}
      <div class="SinglePage-sidebar Sidebar">
        {% if hierarchy %}
          <ul class="List">{{hierarchy}}</ul>
        {% endif %}
        {% include 'layout/sidebar-base.twig' %}
      </div>
    {% endif %}
  </div>
{% endblock %}
