{% extends "base.twig" %}

{% block content %}
  {% include 'components/banner.twig' %}
  <div class="container SplitPage">
    <div class="SplitPage-secondary">
      {% include 'layout/secondary-sidebar-base.twig' %}
    </div>

    <div class="SplitPage-content content-body">
      {% if acf.teaser %}
        <h3 class="Lead">{{acf.teaser}}</h3>
      {% endif %}
      {% include 'layout/base.twig' %}
    </div>

    <div class="SplitPage-sidebar Sidebar">
      {% if hierarchy %}
        <ul class="List Toc">{{hierarchy}}</ul>
      {% endif %}
      {% include 'layout/sidebar-base.twig' %}
    </div>
  </div>
{% endblock %}
