html {
  font-family: $font-family-sans;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-size: $font-size-small;
  @include from(md) {
    font-size: $font-size-root;
  }
}

body {
  text: $body-color $font-weight-normal left none $font-size $line-height normal;
}

h1, .h1 {
  text: $font-weight-light left none $headings-color $font-size-h1 1 normal;
}

h2, .h2 {
  text: $font-weight-light left none $headings-color $font-size-h2 1.275 .4px;
}

h3, .h3 {
  text: $font-weight-bold left none $headings-color $font-size-h3 1.54 normal;
}

h4, .h4 {
  text: $font-weight-bold left none $headings-color $font-size-h4 1.364 normal;
}

h5, .h5 {
  text: $font-weight-bold left none $headings-color $font-size-h5 1.4 normal;
}

h6, .h6 {
  text: $font-weight-bold left none $headings-color $font-size-h6 $line-height normal;
}

h7, .h7 {
  text: $font-weight-bold left none $headings-color $font-size-h7 $line-height normal;
}

strong {
  font-weight: $font-weight-bold;
}

ul,
ol {
  padding-left: $list-padding-left;
}

ul {
  list-style-type: $list-style-type-ul-first;
  ul {
    list-style-type: $list-style-type-ul-second;
    ul {
      list-style-type: $list-style-type-ul-third;
    }
  }
}

ol {
  list-style-type: $list-style-type-ol-first;
  ol {
    list-style-type: $list-style-type-ol-second;
    ol {
      list-style-type: $list-style-type-ol-third;
    }
  }
}

// All Links
a, a[href] {
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

// Default Links
a[href]:not([class]) {
  @include hover($headings-color, $brand-primary);
  display: inline;
}

// No margin for only-child paragraph
p:only-child,
p:last-child,
p:last-of-type {
  margin-bottom: 0;
}

hr {
  width: $spacer-single*3;
  height: 3px;
  background-color: $brand-primary;
  border: 0;
  margin: $spacer-single*4 0;
  position: relative;
  left: -$spacer-single*1.25;
}

blockquote {
  color: $gray;
  font-size: $font-size-h3;
  font-weight: $font-weight-light;
  margin: $spacer-single*3 auto;
  p {
    line-height: 1.45 !important;
    text-align: center;
  }
}
