html {
  font-family: $font-family-sans;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-size: $font-size-small;
  @include from(md) {
    font-size: $font-size-root;
  }
}

body {
  text: $body-color $font-weight-normal left none $font-size $line-height normal;
}

h1, .h1 {
  text: $font-weight-light left none $headings-color $font-size-h1 1 normal;
}

h2, .h2 {
  text: $font-weight-light left none $headings-color $font-size-h2 1.042 normal;
}

h3, .h3 {
  text: $font-weight-bold left none $headings-color $font-size-h3 1.2 normal;
}

h4, .h4 {
  text: $font-weight-bold left none $headings-color $font-size-h4 1.364 normal;
}

h5, .h5 {
  text: $font-weight-bold left none $headings-color $font-size-h5 $line-height normal;
}

h6, .h6 {
  text: $font-weight-bold left none $headings-color $font-size-h6 $line-height normal;
}

h7, .h7 {
  text: $font-weight-bold left none $headings-color $font-size-h7 $line-height normal;
}

strong {
  font-weight: $font-weight-bold;
}

ul,
ol {
  padding-left: $list-padding-left;
}

ul {
  list-style-type: $list-style-type-ul-first;
  ul {
    list-style-type: $list-style-type-ul-second;
    ul {
      list-style-type: $list-style-type-ul-third;
    }
  }
}

ol {
  list-style-type: $list-style-type-ol-first;
  ol {
    list-style-type: $list-style-type-ol-second;
    ol {
      list-style-type: $list-style-type-ol-third;
    }
  }
}

// All Links
a, a[href] {
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

// Default Links
a[href]:not([class]) {
  @include hover($link-color, $link-hover-color);
  display: inline;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1px;
  font-weight: $font-weight-medium;
  &:focus,
  &:hover {
    border-bottom: 1px dotted $brand-primary;
  }
}

// No margin for only-child paragraph
p:only-child,
p:last-child {
  margin-bottom: 0;
}

hr {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $hr-color 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% $hr-padding / 20;
  border: 0;
  margin: 0;
  padding-top: $hr-padding;
  padding-bottom: $hr-padding;
}

blockquote {
  // text: $lead-font-color $lead-font-weight left none $lead-font-size $lead-line-height normal;
  margin: 0;
}
