.ArchiveEvent {
  box: horizontal space-between;
  .Lead {
    letter-spacing: .5px;
  }
  &-content {
    width: 76%;
    position: relative;
    padding-right: $spacer-single*4;
    flex: 1 0 auto;
  }
  &-sidebar {
    width: 24%;
  }
  &-sidebarSection {
    position: relative;
    padding: $spacer-single*1.5 0;
    border-bottom: 1px solid #eee;
    &:last-of-type {
      border-bottom: 0;
      margin-bottom: $spacer-single;
    }

    h5 {
      @include caps;
      color: #666;
      letter-spacing: .75px;
      font-weight: 600;
      font-size: .775rem;
      margin-bottom: $spacer-single;
    }
    input {
      width: 100%;
    }
  }
  &-result--fadeOut {
    opacity: .3;
  }
  &-resultGroup:not(:first-child) {
    margin-top: $spacer-single*1.5;
  }
  &-error {
    margin-top: $spacer-single*6;
  }
  &-search {
    margin-bottom: $spacer-single*4 !important;
  }
}

.FeaturedEvents {
  position: relative;
  margin-bottom: $spacer-single*7;

  //Flickity cells
  &-image {
    @include cover;
    width: 77%;
    height: $spacer-single*43;
    margin-right: $spacer-threefourth;
    left: 0 !important;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.35s ease-in-out;
    &.is-selected {
      opacity: 1;
      z-index: 0
    }
  }

  // Override flickity slider for fade to work
  .flickity-slider {
    transform: none !important;
  }

  &-body {
    @include square;
    position: absolute;
    right: 0;
    bottom: $spacer-single*2.25;
    width: 33%;
    background-color: #fafafa;
  }
  &-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: $spacer-single*3.25 $spacer-single*3.75;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    .Button {
      margin-top: $spacer-single;
    }
    &--show {
      opacity: 1;
    }
  }
  &-meta {
    box: horizontal;
    margin-bottom: $spacer-single*1.5;
  }
}
