.Dropdown {
  position: relative;
  box: horizontal space-between middle nowrap;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 $spacer-single*4;
  background-color: $white;
  z-index: $zindex-primarynav;
  border-bottom: 1px solid #e5e5e5;

  .List {
    @include normalist;
    width: 20%;
    padding-right: $spacer-single*2;
    margin: $spacer-single 0;
    flex: 0 1 auto;
    .caps {
      @include hover($brand-primary);
      display: block;
      padding: $spacer-half 0;
      margin-bottom: $spacer-half;
    }
    .List-sublist {
      @include normalist;
      margin: 0;
      li {
        border-bottom: 1px solid #eee;
      }
      a {
        @include hover($gray-light, $brand-primary);
        display: block;
        font-size: .9375rem;
        padding: $spacer-half 0;
      }
    }
  }
  .Button {
    margin-bottom: 0;
  }

  &-mark {
    display: none;
    // box: vertical middle;
    padding: $spacer-half 0;
    svg {
      fill: $brand-primary;
      width: 157px;
      height: 30px;
    }
  }
  &-logo {
    @include square;
    position: absolute;
    top: -.95rem;
    left: $spacer-single*5.5;
    z-index: 99999;
    size: 128px;
    border-radius: 50%;
    background-color: $white;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      fill: $brand-primary;
      size: 120px;
    }
  }

  &-menu {
    box: horizontal middle center;
    padding-left: $spacer-single*9.25;
    flex: 1 0 auto;
  }
  &-menuItem {
    &:hover {
      > .Dropdown-panel {
        box: horizontal space-between;
      }
    }
  }
  &-panel {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    padding: $spacer-threefourth 8rem;
    max-width: none;
    width: 100%;
    z-index: $zindex-primarynav-dropdown;
    background-color: $white;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0px 7px 15px -6px rgba(0,0,0,.12);
    border-bottom: 1px solid #e8e8e8;
  }
  &-panelLeft {
    box: horizontal wrap;
    width: 79%;
  }
  &-panelRight {
    width: 21%;
    .Block {
      &-link {
        justify-content: flex-start;
      }
      &:last-of-type {
        border-top: 2px solid $white;
      }
    }
  }
  &-link {
    @include hover($gray, $brand-primary);
    display: inline-block;
    padding: $spacer-single*2.25 $spacer-single;
    letter-spacing: .7px;
    &.is-Active {
      position: relative;
      color: $brand-primary;
      font-weight: $font-weight-medium;
      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        bottom: -2px;
        height: 3px;
        background-color: $brand-primary;
        width: 87%;
        transform: translateX(-50%);
        z-index: $zindex-primarynav-marker;
      }
    }
  }
}
