.Footer {
  box: horizontal wrap;
  padding-top: $spacer-single*4.5;
  padding-bottom: $spacer-single*2.5;
  font-size: $font-size-h5;
  @include from(lg) {
    font-size: $font-size-h6 1.25;
  }

  a[href]:not([class]) {
    @include hover($footer-children-color, $blue);
  }

  &-wrapper {
    @include cover;
    background-color: $footer-bg-color;
    background-position: top center;
    margin-top: $spacer-single*6;
  }
  &-heading {
    display: block;
    margin-bottom: $spacer-half;
    color: $footer-parent-color;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: .65px;
    @include from(lg) {
      font-size: .8rem;
    }
    @at-root .Footer-contact #{&} {
      text-transform: capitalize;
      letter-spacing: 0;
      font-size: $font-size-h6;
    }
  }
  &-top, &-bottom {
    width: 100%;
    flex: 0 0 auto;
  }
  &-top {
    box: horizontal space-between;
  }
  &-bottom {
    box: horizontal;
    border-top: 1px solid #ddd;
    margin-top: $spacer-single*3;
    padding-top: $spacer-single*3;
    > * {
      margin-right: $spacer-single*3.5;
    }
  }
  &-logo {
    width: 15%;
    box: horizontal center;
    flex: 0 0 auto;
    margin-right: $spacer-single*1.5;
    svg {
      fill: #aaa;
      size: 100px;
    }
  }
  &-contact {
    h5 {
      color: $footer-parent-color;
      font-weight: $font-weight-bold;
      margin-bottom: $spacer-quarter;
    }
    p {
      line-height: 1.65;
    }
  }

  .List {
    box: horizontal;
    > li {
      margin-right: $spacer-single*2.5;
    }
    .List-sublist {
      @include normalist;
      display: none;
      @include from(lg) {
        display: block;
      }
      li {
        margin-bottom: $spacer-half;
      }
      a {
        color: $footer-children-color;
      }
    }
  }

  @at-root {
    .legal {
      @include white;
      padding: $spacer-threefourth 0;
      background-color: $footer-legal-bg;
      font-size: $font-size-h5;
      @include from(lg) {
        font-size: $font-size-h7;
      }
      .container {
        box: horizontal space-between;
      }
      &-copy + span {
        margin: 0 $spacer-half;
        font-size: .6rem;
      }
      &-language {
        padding: 0 .65rem;
        border-right: 1px solid #383838;
        font-weight: $font-weight-bold;
        &:last-of-type {
          border: none;
        }
      }
    }
  }
}
