.Header {

  &-secondaryNav {
    display: none;
    @include from(lg) {
      box: horizontal right middle;
      padding: 0;
    }
    @include from(xl) {
      padding: 0 $spacer-single*1.5;
    }
    @include from(xxl) {
      padding: 0 $spacer-single*3;
    }
    background-color: $callout-bg;
  }
  &-secondaryNavLink {
    @include hover($gray-dark, $brand-primary);
    font-size: $font-size-h6;
    font-weight: $font-weight-bold;
    line-height: 1;
    padding: $spacer-threefourth;
  }
  &-languages {
    box: horizontal middle space-between;
    position: relative;
    color: $brand-primary;
    width: $spacer-single*5;
    height: 45px;
    padding: $spacer-half $spacer-single*1.5;
    margin-left: $spacer-single;
    background-color: #eee;
    cursor: pointer;
    transition: all .1s ease-out;
    svg {
      fill: #888;
      size: .6rem;
      margin-left: $spacer-quarter;
    }
    &:hover {
      background-color: #e5e5e5;
      > .Header-languagesDropdown {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &-languagesDropdown {
    visibility: hidden;
    opacity: 0;
    will-change: visibility, opacity;
    transition: all .15s ease-out;
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    z-index: $zindex-searchbar;
    background-color: $callout-bg;
    border-bottom: 3px solid $brand-secondary;
  }
  &-languagesLink {
    display: block;
    padding: $spacer-threefourth 0;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
    transition: all .1s ease-out;
    &:hover {
      background-color: #e5e5e5;
    }
  }

  //============ Search ===============
  &-search {
    box: horizontal center middle;
    size: 45px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0 $spacer-single;
    transition: all .1s ease-out;
    svg {
      fill: $brand-primary;
      size: $spacer-single*1.5;
      margin: 0;
      transition: all .1s ease-out;
    }
    &--open {
      background-color: #171717;
      svg {
        fill: $white;
      }
    }
  }
  //============ Social ===============
  &-social {
    box: horizontal center middle;
    padding: $spacer-half;
    margin-right: $spacer-half;
    svg {
      fill: #666;
      size: $spacer-single;
      margin: 0;
    }
    &:hover svg {
      fill: $brand-primary;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
