.Header {
  // box: vertical;
  // margin-bottom: $spacer-single*5;

  &-secondaryNav {
    box: horizontal right middle;
    background-color: #f5f5f5;
    padding: 0 $spacer-single*3;
    a {
      @include hover($gray-dark);
      font-size: $font-size-h6;
      font-weight: $font-weight-bold;
      line-height: 1;
    }
    li {
      margin-right: $spacer-single*1.5;
    }
  }
  &-languages {
    box: horizontal middle space-between;
    color: $brand-primary;
    width: $spacer-single*4;
    padding: $spacer-half 0 $spacer-half $spacer-single*1.5;
    margin-left: $spacer-single;
    border-left: 1px solid #ddd;
    cursor: pointer;
    svg {
      fill: #888;
      size: .6rem;
    }
  }
  //============ Search ===============
  &-search {
    box: horizontal center middle;
    padding: $spacer-single*.35 $spacer-half;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-right: $spacer-single;
    svg {
      fill: $brand-primary;
      size: $spacer-single*1.5;
      margin: 0;
    }
  }
  //============ Social ===============
  &-social {
    box: horizontal center middle;
    padding: $spacer-half;
    margin-right: $spacer-half;
    svg {
      fill: #666;
      size: $spacer-single;
      margin: 0;
    }
    &:hover svg {
      fill: $brand-primary;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
