.landing-page {
  box: horizontal space-around wrap;
  margin-top: $spacer-single*4;
  &--grid {
    @include fullwidth;
    background-color: #f5f5f5;
    padding: $spacer-single*3 0;
  }
}

.Twin {
  box: horizontal wrap;
  &-frame, &-box {
    width: 50%;
  }
  &-frame .Twin-box {
    &:only-child {
      flex: 1 0 auto;
    }
    &:first-child:nth-last-child(3) {
      transform: scale(1.125);
    }
  }
  &-box {
    @include square;
    @include overlay(true);
    @include cover;
    position: relative;
    background-color: black;
    overflow: hidden;
  }
  &-content {
    @include white;
    box: vertical bottom;
    position: absolute;
    size: 100%;
    padding: $spacer-single*1.5;
    h3 {
      margin-bottom: $spacer-single*1.5;
    }
  }

  // Alignment
  &--alternate {
    > div:first-child {
      order: 2;
    }
    > .Twin-frame {
      box: horizontal right wrap;
    }
  }
}

// Refactor this to its own layout sheet
.Solo {
  box: vertical;
  width: 50%;
  border: $spacer-single*1.5 solid transparent;
  margin-bottom: $spacer-single*3;
  flex: 1 1 auto;

  &-image {
    @include white;
    @include cover;
    @include overlay(false);
    @include promote;
    position: relative;
    box: vertical bottom;
    min-height: $spacer-single*22;
    padding: $spacer-single*2;
  }
  &-content {
    box: horizontal wrap;
    margin-top: $spacer-single*1.5;
    padding-bottom: $spacer-single*2;
    border-bottom: 6px solid #f5f5f5;

    a {
      @extend .Lead;
      display: block;
      width: 33%;
      padding: $spacer-half $spacer-single;
    }
  }

}
