.wrapper {
  max-width: $wrapper-width; //1600px
  margin: 0 auto;
  position: relative;
  &--narrow {
    max-width: $wrapper-narrow-width; // 1440px
  }
}

.container {
  max-width: $container-width;  // 1200px
  margin: 0 auto;
  padding: 0 $spacer-single;

  &--max {
    @include from($desktop) {
      // min-width: $container-width;
    }
  }
  &--nopadding {
    padding: 0;
  }

  //=== Text Containers ===
  &--text {
    max-width: $container-text-width;
  }
  &--text-max {
    @include from(lg) {
      min-width: $container-text-width;
    }
  }
  &--text-nosidebar {
    max-width: $container-text-nosidebar-width;
  }

  //=== Container Alignment ===
  &--left {
    margin: 0 auto 0 0;
  }
  &--right {
    margin: 0 0 0 auto;
  }

  //=== Spacing ===
  &--spacedTop {
    margin-top: $spacer-single*4;
  }
  &--spacedBottom {
    margin-bottom: $spacer-single*4;
  }
}

.row {
  box: vertical;
  + .row { margin-top: $spacer-single*1.5; }
  @include from(md) {
    // Flex on tablet up
    box: horizontal wrap;
  }
  > * {
    width: 100%;
  }
  &--of-2 {
    @include from($desktop) {
      .column { width: 50%; }
    }
  }
  &--of-3 {
    @include from($desktop) {
      .column { width: 50%; }
    }
    @include from(lg) {
      .column { width: 33%; }
    }
  }
  &--of-4 {
    .column {
      width: 25%;
    }
  }
}

.column {
  // The column divs act as a flex child wrapper.
  @include from($desktop) {
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    &:first-of-type {
      border-left: 0;
    }
    &:last-of-type {
      border-right: 0;
    }
  }
}

.four-o-four {
  // Dont know where else to put this
  margin: $spacer-single*4 auto;
}
