.MobileNav {
  box: horizontal middle space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zindex-mobilenav;
  padding: 0 $spacer-single*1.25;

  &-mark {
    box: vertical middle;
    padding: $spacer-single 0;
    svg {
      fill: $brand-primary;
      width: 132px;
      height: 28px;
    }
  }
  &-right {
    box: horizontal middle;
    position: relative;
    top: $spacer-single;
    z-index: $zindex-primarynav-marker;
  }
  &-search {
    position: relative;
    box: vertical center middle;
    size: $spacer-single*3.75;
    background-color: $callout-bg;
    margin-right: $spacer-single;
    svg {
      fill: $brand-primary;
      size: $spacer-single*1.75;
    }
  }

  &--open {
    background-color: $brand-secondary;
    .MobileNav-mark svg {
      fill: $white;
    }
    .MobileNav-search svg {
      fill: $brand-primary;
    }
  }
}

.MobilePanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: $zindex-mobilepanel;
  padding-top: 58px;
  background-color: #111;

  &-primary {
    box: vertical;
    background-color: $brand-highlight;
    padding: $spacer-single*1.5;

    .MobilePanel-link {
      @include hover($white);
      font-size: $font-size-h4;
      font-weight: $font-weight-medium;
      padding: $spacer-threefourth 0;
    }
  }

  &-secondary {
    box: horizontal space-between;
    border-bottom: 1px solid #ddd;
    padding: $spacer-single*2 $spacer-half $spacer-single*2 $spacer-single*1.5;
    background-color: $callout-bg;
  }
  &-quicklinks {
    width: 50%;
    padding-right: $spacer-single;
  }

  &-blocks {
    box: horizontal;
    .Block {
      width: 50%;
      &::after {
        padding-bottom: 70%;
      }
    }
  }

  &-social {
    box: horizontal space-around wrap;
    padding: $spacer-single*1.5;
    svg {
      fill: $white;
      size: $spacer-single*1.25;
    }
    .tag {
      width: 100%;
      // margin-bottom: : 0;
    }
  }
  &-socialLink {
    padding: $spacer-single;
  }

}
