.MobileNav {
  @include from(lg) {
    display: none;
  }
  box: horizontal middle space-between;
  position: relative;
  width: 100%;
  z-index: $zindex-mobilenav;
  padding: 0 $spacer-single*1.25;
  background-color: #f9f9f9;
  transition: background-color .25s ease-in-out;
  will-change: background-color, fill;

  &-mark {
    box: vertical middle;
    padding: $spacer-single 0;
    svg {
      fill: $brand-primary;
      width: 132px;
      height: 28px;
      transition: fill .4s ease-in;
      will-change: fill;
    }
  }
  &-right {
    box: horizontal middle;
    position: relative;
    top: 13px;
  }
  &-search {
    box: vertical center middle;
    size: $spacer-single*3.25;
    background-color: #f2f2f2;
    margin-right: $spacer-half;
    svg {
      fill: $brand-primary;
      size: $spacer-single*1.5;
    }
  }
  &-burger {
    size: $spacer-single*3.25;
  }

  &--open {
    background-color: $brand-secondary;
    .MobileNav-mark svg {
      fill: $white;
    }
  }
}

.MobilePanel {
  position: fixed;
  @include from(lg) {
    display: none;
  }
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: $zindex-mobilepanel;
  background-color: #111;

  will-change: transform, opacity, padding-top;
  transition: transform .3s cubic-bezier(.175,.885,.24,1.11) , opacity .2s ease-in, padding-top .12s ease-in-out;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  &--open {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  &--openWithSearch {
    padding-top: $spacer-single*7.75;
  }

  &-primary {
    box: vertical;
    background-color: $brand-highlight;
    padding: $spacer-single*1.5;
    padding-top: $spacer-single*5.125;

    .MobilePanel-link {
      @include hover($white);
      font-size: 1.125rem;
      font-weight: $font-weight-medium;
      padding: $spacer-threefourth 0;
    }
  }

  &-secondary {
    box: horizontal space-between;
    border-bottom: 1px solid #ddd;
    padding: $spacer-single*2 $spacer-half $spacer-single*2 $spacer-single*1.5;
    background-color: $callout-bg;
  }
  &-quicklinks {
    width: 50%;
    padding-right: $spacer-single;
  }

  &-blocks {
    box: horizontal;
    .Block {
      width: 50%;
      &-link {
        justify-content: flex-start;
      }
      &-body h3.h2 {
        font-size: $font-size-h5;
        font-weight: $font-weight-bold;
      }
      &::after {
        padding-bottom: 70%;
        @include from(sm) {
          padding-bottom: 50%;
        }
        @include from(md) {
          padding-bottom: 40%;
        }
      }
      &:only-child {
        width: 100%;
        &::after {
          padding-bottom: 35%;
        }
      }
    }
  }

  &-social {
    box: horizontal space-around wrap;
    background-color: #111;
    padding: $spacer-single*1.5;
    svg {
      fill: $white;
      size: $spacer-single*1.25;
    }
    .tag {
      width: 100%;
    }
  }
  &-socialLink {
    padding: $spacer-single;
  }

}
