.Sidebar {
  width: 23%;
  flex: 0 0 auto;

  // Default Links
  a {
    @include hover($gray-dark, $blue);
    display: block;
    padding: $spacer-single $spacer-single*1.5;
  }

  > .List {
    > li > a {
      border-bottom: 1px solid #eee;
    }
    .List {
      // If not active, hide sub list
      display: none;
    }
  }

  .is-Active {
    > a {
      @include white;
      background-color: $brand-secondary;
    }
    > .List {
      // If active, show sub list
      display: block;
      margin-left: 0;
      background-color: $callout-bg-light;
      a {
        font-weight: $font-weight-light;
        font-size: .92rem;
      }
    }
    .is-Active a {
      @include hover($brand-highlight);
      background-color: transparent;
      font-weight: $font-weight-bold;
    }
  }

  // .Block {
  //   border: none;
  //   min-height: $card-height*1.2;
  //   +.Block {
  //     margin-top: $spacer-single;
  //   }
  // }

  // &-section {
  //   overflow: hidden;
  //   margin-bottom: $spacer-single*2.5;
  //   p { margin-bottom: $spacer-half; }
  // }
  // &-sectionHeading {
  //   @extend .h4;
  //   color: $gray-dark;
  //   font-weight: $font-weight-normal;
  // }
  //
  // &--borderless {
  //   border-top: none;
  // }

}
