.Sidebar {
  display: none;
  @include from(lg) {
    display: block;
  }
  width: 27.5%;
  flex: 0 0 auto;

  // Table of contents
  > .Toc {
    margin-bottom: $spacer-single*3;
    a {
      // Default links in the TOC
      @include hover($gray-dark, $brand-primary);
      display: block;
      padding: $spacer-single*1.25 $spacer-single*1.5;
      font-weight: $font-weight-medium;
    }
    > li > a {
      border-bottom: 1px solid #eee;
    }
    .List {
      // If not active, hide sub list
      display: none;
    }
  }

  .is-Active {
    > a {
      @include white;
      @include hover($white);
      background-color: $brand-highlight;
      font-weight: $font-weight-bold;
    }
    > .List {
      // If active, show sub list
      display: block;
      margin-left: 0;
      padding-left: $spacer-threefourth;
      background-color: #f9f9f9;
      a {
        color: $gray-light;
        font-weight: $font-weight-normal;
        font-size: .9375rem;
      }
      > .is-Active {
        border-right: 3px solid $brand-primary;
        a {
          @include hover($gray-dark, $brand-primary);
          color: $brand-primary;
          background-color: transparent;
          font-weight: $font-weight-medium;
        }
      }
    }
  }

  &-section {
    overflow: hidden;
    margin-bottom: $spacer-single*2.5;
    &--center .Sidebar-sectionHeading {
      text-align: center;
    }
    &--callout {
      background-color: $callout-bg;
      padding: $spacer-single*1.75 $spacer-single*2;
    }
    &--framed {
      border: 1px solid #ddd;
      padding: $spacer-single*2.5 $spacer-single*2;
    }
    &--accent {
      border-top: 4px solid $brand-secondary;
      padding-top: $spacer-single*2.5;
    }
  }
  &-sectionHeading {
    margin-bottom: $spacer-single*1.125;
  }
}
