.Sidebar {
  width: 27.5%;
  flex: 0 0 auto;

  // Table of contents
  > .List {
    margin-bottom: $spacer-single*3;
    a {
      // Default links in the TOC
      @include hover($gray-dark, $blue);
      display: block;
      padding: $spacer-single $spacer-single*1.5;
    }
    > li > a {
      border-bottom: 1px solid #eee;
    }
    .List {
      // If not active, hide sub list
      display: none;
    }
  }

  .is-Active {
    > a {
      @include white;
      background-color: $brand-secondary;
    }
    > .List {
      // If active, show sub list
      display: block;
      margin-left: 0;
      background-color: $callout-bg;
      a {
        font-weight: $font-weight-light;
        font-size: .92rem;
      }
    }
    .is-Active a {
      @include hover($brand-highlight);
      background-color: transparent;
      font-weight: $font-weight-bold;
    }
  }

  &-section {
    overflow: hidden;
    margin-bottom: $spacer-single*2.5;
    &--center {
      text-align: center;
    }
    &--callout {
      background-color: $callout-bg;
      padding: $spacer-single*1.75 $spacer-single*2;
    }
    &--framed {
      border: 1px solid #ddd;
      padding: $spacer-single*2.5 $spacer-single*2;
    }
    &--accent {
      border-top: 4px solid $brand-secondary;
      padding-top: $spacer-single*2.5;
    }
  }
  &-sectionHeading {
    margin-bottom: $spacer-single*1.125;
  }
}
