.SinglePage {
  box: horizontal space-between;

  &-content {
    .Lead {
      margin-bottom: $spacer-single*2.5;
    }
    > .container {
      padding: 0;
    }
  }

  // Sidebar alignments
  &--leftSidebar {
    .SinglePage-sidebar {
      order: 1;
    }
    .SinglePage-content {
      order: 2;
    }
  }

  &--rightSidebar {
    .SinglePage-sidebar {
      order: 2;
    }
    .SinglePage-content {
      order: 1;
    }
  }
}
