.SinglePage {
  box: horizontal space-between;

  &-content {
    .Lead {
      margin-bottom: $spacer-single*2.5;
    }
    > .container {
      padding: 0;
    }
    @include to(lg) {
      margin: 0 auto;
    }
  }

  // Sidebar alignments
  &--leftSidebar {
    .SinglePage-sidebar {
      order: 1;
    }
    .SinglePage-content {
      order: 2;
      @include at(lg) {
        padding-left: $spacer-single;
      }
    }
  }

  &--rightSidebar {
    .SinglePage-sidebar {
      order: 2;
    }
    .SinglePage-content {
      order: 1;
      @include at(lg) {
        padding-right: $spacer-single;
      }
    }
  }

  &--slimSidebar {
    .SinglePage-content {
      flex: 1 1 auto;
      max-width: none;
      @include from(lg) {
        padding-right: $spacer-single*3;
      }
    }
    .SinglePage-sidebar {
      width: 25%;
    }
  }
}
