.SingleResource {
  &-body, &-bar {
    box: horizontal;
  }
  &-bar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacer-single*1.5;
    .Button {
      margin-right: 0;
    }
  }
  &-heading {
    h1, p { margin: 0; }
    .Pill {
      margin-bottom: $spacer-threefourth;
    }
    .meta {
      margin-bottom: $spacer-single*3;
    }
  }
  &-content {
    padding-top: $spacer-single*3;
    .Lead {
      margin-top: $spacer-single*1.5;
    }
  }
  &-sidebar {
    position: relative;
  }
  &-cta {
    margin-top: $spacer-single*2;
  }

  @at-root .SingleResource--articles {
    .Banner {
      @include white;
      margin-bottom: $spacer-single*1.5;
      p {
        margin-bottom: $spacer-half;
      }
      h1 {
        margin-bottom: .13rem;
      }
    }
    .SingleResource-head {
      display: none;
    }
    .SingleResource-sidebar {
      top: -$spacer-single*2.75;
    }
  }
  @at-root .SingleResource--photos,
  .SingleResource--videos {
    .SingleResource-content {
      padding-top: $spacer-single*2;
    }
    .SingleResource-sidebar {
      top: -$spacer-single*1.25;
    }
  }
  @at-root .SingleResource--documents,
  .SingleResource--publications {
    .SingleResource-wrapper {
      background-color: #fbfbfb;
      padding: $spacer-single*2 0;
    }
    .SingleResource-thumbnail {
      width: 18%;
      flex: 0 0 auto;
      margin-left: $spacer-single*1.75;
      .List {
        font-size: 17px;
        color: $sidebar-color;
        margin-top: $spacer-single;
      }
    }
    .SingleResource-sidebar {
      margin-left: $spacer-single*1.75;
      top: -$spacer-single*3;
      .Callout {
        background-color: #f5f5f5;
      }
    }
  }
}
