.SingleEvent {
  box: vertical;
  padding-top: $spacer-single*3;
  @include at(sm) {
    // Pad sides on phablet
    padding-left: $spacer-single*3;
    padding-right: $spacer-single*3;
  }
  @include at(md) {
    // and tablet
    padding-left: $spacer-single*5;
    padding-right: $spacer-single*5;
  }
  @include from(lg) {
    box: horizontal space-between;
  }

  &-content {
    padding: 0;
    @include from(lg) {
      padding: 0 $spacer-single*2.125;
    }
    line-height: 1.6875;
    h1 {
      font-weight: $font-weight-bold;
      margin-bottom: $spacer-single*1.5;
    }
    .Lead {
      line-height: 1.54;
      margin-bottom: $spacer-single*1.75;
      font-size: $font-size-h4;
      @include from(md) {
        font-size: $font-size-h3;
      }
    }
  }
  &-meta {
    box: vertical;
    @include from(md) {
      box: horizontal
    }
    padding-bottom: $spacer-quarter;
    .meta {
      margin-right: $spacer-single*2;
    }
    @include to(sm) {
      @at-root .SingleEvent-meta + #{&} {
        border-top: 1px solid #eee;
        margin-top: $spacer-single;
        padding-top: $spacer-single;
      }
    }
  }
  &-metaWrapper {
    padding-bottom: $spacer-single;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: $spacer-single*2;
  }
  &-image {
    margin-bottom: $spacer-single*2.5;
    @include from(md) {
      margin: 0 -25px $spacer-single*2.5;
    }
  }
  &-share {
    box: horizontal middle center;
    @include from(sm) {
      box: horizontal middle space-between;
    }
    margin-bottom: $spacer-single*1.75;
    @include from(lg) {
      display: none;
    }
    .Lead {
      display: none;
      margin-bottom: 0;
      @include from(sm) {
        display: block;
      }
    }
    .Share-button {
      width: 45px;
    }
  }
  &-sidebar {
    padding: 0 $spacer-single;
    margin-top: $spacer-single*3;
  }
}
