.SplitPage {
  box: horizontal space-between;

  &-secondary {
    display: none;
    width: 20%;
    font-size: .95rem;
    @include from(lg) {
      display: block;
    }
  }

  &-content {
    width: 100%;
    max-width: $container-text-width;
    @include from(lg) {
      width: 56%;
      padding: 0 $spacer-single*2.75;
    }
    .Lead {
      margin-bottom: $spacer-single*2.5;
    }
    > .container {
      padding: 0;
    }
    @include to(lg) {
      margin: 0 auto;
    }
  }

  &-sidebar {
    width: 24%;
  }
}
