.Announcement {
  @include white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-announcement;
  min-width: 100%;
  background-color: $brand-highlight;
  padding: .63rem 0;
  opacity: 1;
  visibility: visible;
  transition: all .1s ease-out;

  // Hide by default
  display: none;

  .container {
    box: horizontal middle space-between;
  }

  &-message {
    flex: 1 1 auto;
    font-size: .95rem;
    line-height: 1.275;
    margin-bottom: 0;
    padding: 0 $spacer-single;
  }
  &-button {
    flex: 0 0 auto;
    margin: 0;
    background-color: $brand-secondary;
    font-size: $font-size-h7;
    text-transform: capitalize;
  }
  &-close {
    box-item: top;
    box: horizontal middle center;
    size: 30px;
    svg {
      margin: 0;
    }
  }

  &--bottom {
    top: 100vh;
    left: 0;
    transform: translate3d(0,-100%,0);
  }
  &--closed {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,-6.5%,0);
  }
  &--show {
    display: block;
  }
}
