.Arrows {
  display: none;
  @include from(md) {
    box: horizontal;
  }
  position: absolute;
  top: -$spacer-single*1.5;
  right: $spacer-single*1.5;
  z-index: 1;
  &-nav {
    @include square;
    position: relative;
    width: 55px;
    background-color: $brand-highlight;
    &:last-of-type {
      border-left: 1px solid $callout-bg;
    }
    &:hover {
      background-color: $brand-secondary;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      fill: $white;
      size: $spacer-single*2.25;
    }
  }
}
