.Banner {
  @include cover;
  @include white;
  @include overlay(false, 'rgba(0,0,0,0) 30%, rgba(0,0,0,.7) 80%' );
  box: vertical bottom;
  position: relative;
  padding-bottom: $spacer-single*2.25;

  margin-bottom: $spacer-single*3;
  @include from($desktop) {
    margin-bottom: $spacer-single*5;
  }

  h1 {
    font-size: $font-size-h2;
    @include from($desktop) {
      font-size: $font-size-h1;
    }
    line-height: 1.15;
    letter-spacing: .5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  }

  .container {
    @include at(sm) {
      // Pad sides on phablet
      padding-left: $spacer-single*3;
    }
    @include at(md) {
      // and tablet
      padding-left: $spacer-single*5;
    }
    @include from(xl) {
      min-width: $container-width;
      margin: 0 auto;
    }
  }

  // Styles
  &--small { height: $banner-small-height; }
  &--medium { height: $banner-medium-height; }
  &--large { height: $banner-large-height; }

  &--top {
    background-position: top center;
  }
  &--bottom {
    background-position: bottom center;
  }
}
