.Block {
  @include cover;
  position: relative;

  &-link {
    box: vertical middle;
    padding: $spacer-single*2;
    position: absolute 0 auto auto 0;
    size: 100%;
    z-index: 1;
    @at-root .Block--card #{&} {
      position: relative;
      display: block;
      padding: 0;
    }
  }
  &-head {
    @include cover;
    @include square(50%);
  }
  &-body {
    @include white;
    p {
      font-size: 1.125rem;
    }
    @at-root .Block--card #{&} {
      background-color: #fff;
      padding: $spacer-single*1.5 $spacer-single*2 $spacer-single*2.25;
      h3 {
        color: $brand-primary;
      }
      p {
        color: $body-color;
      }
    }
    @at-root .Callout--landing .Block--card #{&} {
      background-color: $white;
    }
  }

  // Style
  &--card {
    border: 1px solid #eee;
  }
  &--bookmark {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
  }
  &--panel {
    @include square(54%);
  }
  &--overlay {
    @include overlay(true, rgba(0,0,0,.55));
    @include promote;
    transition: all .12s ease-out;
    &:hover {
      @include overlay(true, rgba(0,0,0,.65));
    }
  }
  &--center {
    text-align: center;
    h3 { text-align: center; }
  }
}
