.Breadcrumb {
  @include normalist;
  margin-bottom: .35rem;
  &-item {
    position: relative;
    display: inline-block;
    padding-right: $spacer-single;
    &:first-of-type {
      padding-left: 0;
    }
    &::after {
      content: '/';
      position: relative 0 -8px auto auto;
      font-weight: $font-weight-bold;
      font-size: 1.125rem;
    }
    &:last-child {
      &::after { content: ''; }
      .Breadcrumb-link {
        font-weight: 600;
      }
    }
  }
  &-home {
    position: relative 4px auto auto auto;
    svg {
      margin: 0;
      size: 20px;
    }
  }
  &-link {
    text: $white $font-weight-normal left normal 1rem 1 .3px;
  }
}
