.Button {
  transition: all .175s ease-in-out;
  border-radius: 2px;
  display: inline-block;
  padding: $button-padding;
  background-color: $button-bg;
  border: 0;
  text: $white $font-weight-bold left none $font-size-h6 $headings-line-height 1px;
  &--small {
    padding: $button-small-padding;
  }
  &--medium {
    padding: $button-medium-padding;
  }
  &--block {
    width: 100%;
    text-align: center;
    margin-top: $spacer-single*1.5;
  }
  &--outline {
    color: $button-bg;
    border: 2px solid $button-bg;
    background-color: transparent;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
