.Button {
  border: 0;
  border-radius: 2px;
  display: inline-block;
  padding: .82rem $spacer-single*1.5;
  background-color: $button-bg;
  text-transform: capitalize;
  transition: all .1s ease-in-out;
  text: $white 600 left none $font-size-h6 1;
  margin-bottom: $spacer-single;

  // Pseudo
  &:hover {
    background-color: darken($button-bg, 3%);
  }

  // Style
  &--block {
    width: 100%;
    text-align: center;
  }
  &--light {
    color: $brand-primary;
    background-color: $white;
  }
  &--outline {
    color: $button-bg;
    border: 1px solid $button-bg;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
  &--outline-light {
    color: $white;
    border: 1px solid $white;
    background-color: transparent;
  }
  &--outline-dark {
    color: $body-color;
    border: 1px solid #ccc;
    background-color: transparent;
    &:hover {
      color: $white;
      background-color: $brand-secondary;
      border: 1px solid transparent;
    }
  }
  &--utility {
    font-size: 13px;
    color: #666;
    position: absolute;
    right: 0;
    top: $spacer-single*1.125;
    padding: $pill-padding;
    background-color: #eee;
    &:hover {
      color: $white;
      background-color: #666;
    }
  }

  // Sizes
  &--small {
    padding: .65rem $spacer-single*1.1;
  }
  &--large {
    padding: $spacer-single $spacer-single*1.75;
  }
}
