.Callout {
  background-color: $callout-bg;
  padding: $callout-padding;
  margin-bottom: $spacer-single*1.75;
  &--landing {
    @include fullwidth;
    + .Callout--landing {
      margin-top: -$callout-padding*1.5;
      padding-top: 0;
    }
  }
  &--column {
    margin-right: -$spacer-single*1.25;
    padding: $callout-padding*.75;
  }
  &--single {
    > * {
      margin: 0;
    }
  }
  &--sidebar {
    > .Sidebar-section {
      margin-bottom: 0;
    }
    &:first-of-type {
      border-top: 6px solid #eee;
    }
  }
}
