.Callout {
  background-color: $callout-bg;
  padding: $callout-padding;
  margin-bottom: $spacer-single*1.75;
  &--landing {
    @include fullwidth;
    padding: $spacer-single*5 0;
    + .Callout--landing {
      // margin-top: -$callout-padding*1.5;
      padding-top: 0;
    }
  }
  &--column {
    margin-right: -$spacer-single*1.25;
    padding: $callout-padding*.75;
  }
  &--single {
    > * {
      margin: 0;
    }
  }
  &--sidebar {
    > .Sidebar-section {
      margin-bottom: 0;
    }
    &:first-of-type {
      border-top: 6px solid #eee;
    }
  }
  &--fullbleed {
    @include cover;
    padding: 0;
    margin-bottom: 0;
  }
  &--transparentTheme {
    .column {
      padding: $spacer-single*6.5 $spacer-single*2;
      background-color: rgba(255,255,255,0);
    }
  }
  &--lightTheme {
    .column {
      padding: $spacer-single*6.5 $spacer-single*2;
      background-color: rgba(255,255,255,0.87);
    }
  }
  &--darkTheme {
    .column {
      padding: $spacer-single*6.5 $spacer-single*2;
      background-color: rgba(0,0,0,0.4);
      h2, h4, p {
        color: $white !important;
      }
    }
  }
  &--redTheme {
    .column {
      padding: $spacer-single*6.5 $spacer-single*1.75;
      background-color: rgba(138,0,0,.9);
      h2, h4, p {
        color: $white !important;
      }
    }
  }
}
