.Card {
  border: $spacer-single*1.5 solid transparent;
  &-image {
    @include cover;
    display: block;
    min-height: $card-height;
  }
  &-heading {
    a { color: $headings-color; }
  }
  &--horizontal {
    box: horizontal;
    .Card-image {
      flex: 0 1 auto;
    }
    .Card-body {
      flex: 1 0 auto;
    }
  }
  &--vertical {
    box: vertical;
    .Card-image {
      margin-bottom: $spacer-single*1.5;
    }
  }
  &--callout {
    .Card-body {
      padding: $spacer-single*2.5;
      background-color: $gray-lightest;
    }
  }
  &--even {
    > * {
      width: 50% !important;
      flex: 0;
    }
  }
  &--third {
    .Card-image { width: 35%; }
    .Card-body { width: 65%; }
  }
}
