.Duet {
  padding: $spacer-single*3 0;
  &-body {
    box: horizontal;
  }
  &-heading {
    margin-bottom: 0;
  }
  &-panel {
    width: 50%;
    padding: $spacer-single*1 $spacer-single*1.75;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
  &-list {
    box: horizontal;
    .List {
      width: 50%;
    }
  }

  li {
    margin-bottom: $spacer-threefourth;
  }

  &--narrow {
    max-width: 960px;
    margin: 0 auto;
  }
  &--border {
    border-bottom: 1px solid #eee;
  }
}
