.Feed--person {
  // Overriding feed-item width
  @at-root .row #{&},
  .row.row--of-2 #{&},
  .row.row--of-3 #{&},
  .row.row--of-4 #{&} {
    .Feed-item {
      border: $spacer-single solid transparent;
      border-bottom: 1px solid #eee;
      width: 100%;
      @include from(md) {
        width: 50%;
      }
    }
  }

  // Display Style
  &.Feed--object-list,
  &.Feed--list {
    box: horizontal wrap;
    .Feed-imageLink {
      @include square;
      height: auto;
    }
    .Feed-image {
      max-width: $spacer-single*6.5;
    }
  }
  &.Feed--card {
    .Feed-item {
      border: $spacer-single solid transparent;
    }
    .Feed-imageLink {
      @include cover;
      position: absolute;
      size: 100% !important;
    }
  }

  .Feed-image {
    @include square;
    position: relative;
    margin-bottom: $spacer-threefourth;
    width: 80%;
    @include from(sm) {
      width: 68%;
    }
  }
  .Feed-name {
    margin-bottom: $spacer-quarter;
    h4, p {
      margin-bottom: 0;
    }
    h4 {
      font-size: $spacer-single*1.125;
    }
    p {
      color: #555;
    }
  }
  .Feed-contact {
    margin-bottom: $spacer-quarter;
    a, p {
      margin-bottom: 0;
      font-size: .9375rem;
      line-height: 1.3;
    }
    .Feed-social {
      display: inline-block;
      padding: .375rem;
      svg {
        size: $spacer-single;
        fill: $brand-primary;
        &:hover {
          fill: $brand-primary;
        }
      }
    }
  }
  .Feed-bio {
    @at-root .Sidebar #{&} {
      display: none;
    }
    p {
      color: #777;
      font-size: .90625rem;
    }
  }
  .Feed-bioFull {
    display: none;
  }

  @at-root .Sidebar-section #{&} {
    .Feed-item {
      box: horizontal wrap;
    }
    .Feed-image {
      width: 25%;
      &Link {
        position: absolute;
        border-radius: 50%;
      }
    }
    .Feed-bioFull {
      display: block;
      padding: $spacer-single $spacer-single*1.25;
      background-color: $callout-bg;
    }
  }

  // Authors of document media
  @at-root .single-resource .SingleArticle-content #{&} {
    &.Feed--object-list .Feed-imageLink {
      position: absolute;
      border-radius: 50%;
    }
  }
}
