.Feed--event {
  .Feed-date {
    @include square;
    width: 85px;
    flex: 0 0 auto;
    position: relative;
    color: $brand-primary;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -52%, 0);
      box: vertical center middle;
    }
    span {
      line-height: 1.07;
      &:first-of-type {
        letter-spacing: 1.025px;
        font-size: 1.425rem;
        margin-bottom: $spacer-quarter;
      }
    }
  }

  &.Feed--list .Feed-item {
    box: horizontal;
    .Feed-body {
      padding-left: $spacer-threefourth;
    }
  }
}
