.Feed {
  @include normalist;

  // Reduce font size if we're within Sidebar
  @at-root .Sidebar-section #{&} {
    font-size: $font-size-h6;
  }

  // Components
  &-item { // Display Style
    padding-bottom: $spacer-single*1.125;
    margin-bottom: $spacer-single*1.125;
    border-bottom: 1px solid #eee;
    @at-root .Feed--list #{&} {
      box: vertical;
    }
    @at-root .Feed--object-list #{&} {
      box: horizontal;
    }
    @at-root .Feed--card #{&} {
      box: vertical;
    }
  }
  &-image,
  &-body {
    width: 100%;
  }
  &-imageLink {
    @include cover;
    display: block;
    width: 100%;
  }
  &-meta {
    box: horizontal;
  }

  // Elements
  h5, p {
    margin-bottom: $spacer-quarter;
    line-height: 1.45;
  }
  h5 {
    @at-root .column #{&} {
      // In content body, make heading 18px
      font-size: 1.125rem;
    }
  }
  svg {
    size: .9rem;
    @at-root .column #{&} {
      size: $spacer-single*1.125;
    }
  }

  // Classes
  .meta--icon {
    margin-right: $spacer-single;
    span {
      font-size: $font-size-h6;
      @at-root .column #{&} {
        font-size: .9375rem;
      }
    }
  }

  // Display Style
  &--object-list {
    .Feed-image {
      flex: 0 0 auto;
      width: 25%;
      @at-root .column #{&} {
        width: 30%;
      }
    }
    .Feed-imageLink {
      @at-root .column #{&} {
        // In content body
        height: $spacer-single*8;
      }
      @at-root .Sidebar-section #{&} {
        // In sidebar section
        @include square;
      }
    }
    .Feed-body {
      padding-left: $spacer-single;
      width: 75%;
      @at-root .column #{&} {
        width: 70%;
        padding-left: $spacer-single*1.5;
      }
    }
  }
  &--card {
    .Feed-imageLink {
      margin-bottom: $spacer-threefourth;
      height: $spacer-single*8;
      @at-root .column #{&} {
        height: $spacer-single*10;
      }
    }
    // In 1 column content body, card is laid horizontally, each at 30% width
    @at-root .row #{&} {
      box: horizontal wrap;
      .Feed-item {
        border-bottom: 0;
        border: $spacer-single solid transparent;
        padding-bottom: 0;
        width: 100%;
        @include from(sm) {
          width: 50%;
        }
      }
    }
    // In any other columns, card is full width
    @at-root .row.row--of-2 #{&},
    .row.row--of-3 #{&},
    .row.row--of-4 #{&} {
      .Feed-item {
        width: 100%;
      }
    }
  }
}
