.Figure {
  display: inline-block;
  margin: $spacer-single*2 auto;
  width: 100%;
  picture, img {
    margin: 0 auto;
  }

  &-caption {
    font-size: $font-size-h6;
    color: $figure-caption-color;
    line-height: $figure-caption-line-height;
    padding: 12px 25px 0;
    @at-root .Sidebar-section #{&} {
      padding: 0 $spacer-quarter;
    }
  }

  // Alignment
  &--center {
    .Figure-caption {
      margin: 0 auto;
      text-align: center;
    }
  }
  &--left {
    @include from($desktop) {
      float: left;
      margin: $spacer-half $spacer-single*2.5 $spacer-half 0;
      max-width: 50%;
    }
  }
  &--right {
    @include from($desktop) {
      float: right;
      margin: $spacer-half -25px $spacer-half $spacer-single * 1.75;
      max-width: 50%;
    }
  }
  @at-root .Sidebar-section #{&} {
    margin: $spacer-threefourth 0;
  }
  @at-root .Row--of-2 #{&} {
    margin: $spacer-single 0;
  }
  @at-root .Row--of-3 #{&} {
    margin: $spacer-single 0;
  }
}
