.Hero {
  @include fullwidth;
  background-color: $white;
  &-image {
    @include cover;
    position: relative;
    width: 80%;
    margin-right: 3px;
    opacity: 1;
    transition: opacity .35s ease-in-out;
    &:not(.is-selected) {
      opacity: .75;
    }
    height: $spacer-single*48; // fallback
    height: calc(100vh - 150px);
  }
  &-caption {
    box: horizontal space-between middle;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: $spacer-single $spacer-single*3.5;
    background: rgba(0,0,0,.75);
    transform: translate3d(-50%, 0, 0);
    * {
      margin-bottom: 0;
    }
  }
  &-captionCTA {
    box: horizontal center middle;
    width: 15%;
    flex: 0 0 auto;
  }
}
