.Hero {
  @include fullwidth;
  background-color: $white;
  &-cell {
    position: relative;
    margin-right: 3px;
    opacity: 1;
    background-color: $black;
    transition: opacity .35s ease-in-out;
    &:not(.is-selected) {
      opacity: .85;
    }
    width: 100%;
    height: $spacer-single*24;
    @include from(sm) {
      width: 93%;
      height: $spacer-single*28;
    }
    @include from(md) {
      width: 90%;
      height: $spacer-single*35;
    }
    @include from(lg) {
      width: 86%;
      height: $spacer-single*37;
    }
    @include from(xl) {
      width: 80%;
      height: $spacer-single*42;
    }
    @include from(xxl) {
      width: 80%;
      height: $spacer-single*48; // Fallback
      height: calc(100vh - 150px);
    }
  }
  &-image {
    @include cover;
    position: absolute 0 auto auto 0;
    size: 100%;
    &.lazyloading {
      background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
      min-height: 60px;
    }
  }
  &-caption {
    box: horizontal space-between middle;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: rgba(0,0,0,.75);
    transform: translate3d(-50%, 0, 0);
    * {
      margin-bottom: 0;
    }
    padding: $spacer-single;
    @include from(md) {
      padding: $spacer-single $spacer-single*3.5;
    }
  }
  &-captionCTA {
    width: 17%;
    flex: 0 0 auto;
    display: none;
    @include from(md) {
      box: horizontal center middle;
      width: 20%;
    }
    @include from(lg) {
      width: 17%;
    }
  }
}
