.Link {
  @include hover($brand-primary);
  @include caps;
  display: inline-block;
  margin-bottom: $spacer-single;

  svg {
    display: inline-block;
    size: $spacer-threefourth;
    margin-left: $spacer-half;
    vertical-align: middle;
    transition: all .1s ease-out;
    position: relative -1px;
  }

  &:hover {
    svg {
      transform: translate3d(5px, 0, 0);
    }
  }

  &--white {
    @include hover($white);
  }
  &--lowercase {
    text-transform: capitalize;
  }
}
