.List {
  @include normalist;
  margin-bottom: 0;
  .List {
    @include normalist;
    margin-left: $spacer-threefourth;
  }

  &--inline {
    box: vertical;
    text-align: center;
    @include from(lg) {
      box: horizontal;
      text-align: left;
    }
  }

  &--inlineLeft {
    justify-content: flex-start;
  }
  &--inlineRight {
    justify-content: flex-end;
  }
}
