.Loader {
  transition: all .1s ease-in-out;
  size: $loader-size;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  z-index: -99999;

  &--show {
    opacity: 1;
    z-index: 99999;
  }
  &-cube {
    float: left;
    size: 33%;
    background-color: $loader-color;
    animation: loader-animation 1.05s infinite ease-in-out;
  }
  &-cube1 { animation-delay: 0.2s; }
  &-cube2 { animation-delay: 0.3s; }
  &-cube3 { animation-delay: 0.4s; }
  &-cube4 { animation-delay: 0.1s; }
  &-cube5 { animation-delay: 0.2s; }
  &-cube6 { animation-delay: 0.3s; }
  &-cube7 { animation-delay: 0s; }
  &-cube8 { animation-delay: 0.1s; }
  &-cube9 { animation-delay: 0.2s; }
  @keyframes loader-animation {
    0%, 70%, 100% { transform: scale3D(1, 1, 1); }
    35% { transform: scale3D(0, 0, 1); }
  }
}
