.Media {
  box: horizontal;
  padding: $spacer-single*1.25 0;
  border-bottom: 1px solid #ddd;
  &:last-of-type {
    border: 0;
  }

  .Link {
    margin-bottom: 0;
  }

  &-image {
    width: 25%;
    flex: 0 0 auto;
    position: relative;
  }
  &-body {
    width: 77%;
    padding-left: $spacer-single*1.75;
    h3 a {
      @include hover($brand-primary);
    }
    p {
      margin-bottom: $spacer-threefourth;
    }
  }
  &-cta {
    box: horizontal right;
    margin-top: $spacer-quarter;
    padding-right: $spacer-single;
  }
  &-date {
    @include white;
    position: absolute;
    box: horizontal middle space-between;
    top: 7px;
    left: -5px;
    background-color: $brand-highlight;
    font-size: .75rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    padding: .4rem $spacer-threefourth;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    svg {
      size: 13px;
      margin-right: $spacer-half;
    }
  }
}
