.Media {
  padding-bottom: $spacer-single*2;
  margin-bottom: $spacer-single*2;
  border-bottom: 1px solid $gray-lighter;
  &:last-child {
    border-bottom: none;
  }
  &-head {
    margin-bottom: $spacer-single*1.25;
  }
  &-tag {
    margin-bottom: $spacer-threefourth;
  }
  &-title a {
    color: $brand-primary;
  }
  &-body {
    box: horizontal center space-between;
  }
  &-content {
    width: 65%;
    padding-right: $spacer-single*1.5;
  }
  &-image {
    width: 35%;
  }
}
