.Pill {
  position: relative;
  display: inline-block;
  text: $pill-color $font-weight-bold left normal $pill-font-size $pill-line-height $pill-letter-spacing;
  background-color: $pill-bg;
  padding: $pill-padding;
  border-radius: 2px;
  svg {
    fill: currentColor;
    size: $spacer-single*.85;
    position: absolute 50% auto auto $spacer-single*.35;
    transform: translateY(-50%);
    display: none;
  }
  &:hover {
    color: inherit;
    background-color: darken($pill-bg, 3.5%);
  }
  &--small {
    padding: $pill-padding-small;
  }
  &--spaced {
    margin: 0 .35rem .35rem 0;
  }
  &--iconized {
    padding-left: $spacer-single*1.35;
    svg {
      display: block;
    }
    use:nth-of-type(2) {
      display: none;
    }
  }
  &--toggled {
    use:nth-of-type(1) {
      display: none;
    }
    use:nth-of-type(2) {
      display: block;
    }
  }
  &--dark,
  &--dark:hover {
    color: $white;
    background-color: $brand-secondary;
  }
  &--nomargin {
    margin: 0;
  }
}
