.Pill {
  display: inline-block;
  user-select: none;
  border-radius: 3px;
  text: $pill-color $pill-font-weight left normal $pill-font-size $pill-line-height normal;
  padding: $pill-padding;
  margin: 0 $spacer-half $spacer-half 0;
  transition: all .125s ease-in-out;

  &--inactive {
    background-color: transparent !important;
    color: #666;
    border: 1px solid #ccc;
    &:hover {
      border: 1px solid #999;
    }
  }

  &--pointer {
    cursor: pointer;
  }

  &--mini {
    font-size: $font-size-h7;
    padding: .25rem .45rem;
  }

  &--spaced {
    margin: 0 $spacer-single;
  }
}
