.SearchBar {
  position: relative;
  z-index: $zindex-searchbar;
  background-color: #171717;
  padding: 0 $spacer-single;
  overflow: hidden;
  max-height: 0;
  transition: max-height .12s ease-in-out;
  will-change: max-height;

  &--open {
    // need to be the same with MobilePanel--openWithSearch padding top
    max-height: $spacer-single*15;
  }

  &-form {
    flex: 1 0 auto;
    @include to(lg) {
      margin: $spacer-single*2 0;
    }
    @include from(lg) {
      margin-top: $spacer-single*3;
      margin-bottom: $spacer-single*3;
    }
  }
  &-input {
    width: 100%;
    color: $white;
    border: 0;
    border-bottom: 1px solid #444;
    margin-bottom: $spacer-quarter;
    font-size: $font-size-h4;
    font-weight: $font-weight-medium;
    letter-spacing: .7px;
    padding: 0;
    padding-bottom: $spacer-half;
    @include from(lg) {
      font-size: $font-size-h2;
    }

    &:focus {
      border: 0;
      border-bottom: 1px solid #444;
    }
  }
  &-label {
    color: #999;
    font-size: $font-size-h6;
    margin-bottom: 0;
    @include from(lg) {
      font-size: $font-size-h5;
    }
  }
}
