.Share {
  box: horizontal;

  &-button {
    @include square;
    display: block;
    position: relative;
    width: 60px;
    background-color: #eee;
    margin-right: 10px;
    transition: all .08s ease-in-out;
    &:hover {
      background-color: $brand-secondary;
      svg {
        fill: $white;
      }
    }
  }
  svg {
    fill: #444;
    size: $spacer-single*1.0625;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: all .05s ease-in-out;
  }
}
