.Share {
  box: horizontal;

  &-button {
    box: vertical middle center;
    display: block;
    size: 55px;
    background-color: #eee;
    margin-right: 10px;
    transition: all .08s ease-in-out;
    &:hover {
      background-color: $brand-secondary;
      svg {
        fill: $white;
      }
    }
    // Whatsapp
    &:nth-child(3) {
      @include from(lg) {
        display: none;
      }
    }
  }
  svg {
    fill: #444;
    size: $spacer-single;
    transition: all .05s ease-in-out;
  }

  &--brand {
    .Share-button {
      background-color: $brand-highlight;
    }
    svg {
      fill: $white;
    }
  }
}
