.Table {
  width: 100%;
  max-width: 100%;
  margin: $spacer-single 0;
  border-collapse: collapse;
  background-color: transparent;

  @at-root .Tabs #{&} {
    margin-top: 0;
  }

  th {
    display: none;
    color: #555;
    border-bottom: 2px solid #eceeef;
    background-color: #eceeef;
    font-weight: $font-weight-bold;
  }
  td {
    display: block;
    &:before {
      content: attr(data-th)": ";
      display: inline-block;
      width: 45vw;
      font-weight: $font-weight-bold;
      @include from(sm) { display: none; }
    }
  }
  th, td {
    text-align: left;
    border-top: 1px solid #eceeef;
    padding: $spacer-quarter;
    @include from(sm) {
      padding: $spacer-half;
      display: table-cell;
    }
  }
  tr {
    td {
      border: none;
    }
    &:nth-of-type(even) {
      background-color: $callout-bg;
      @include from(sm) { background-color: transparent; }
    }
  }
}
