.Theater {
  background-color: $gallery-bg-color;
  &-container {
    max-width: $container-width;
    margin: 0 auto;
    padding: $spacer-single*4 $spacer-single;
  }
  &-embed {
    // http://embedresponsively.com/
    position: relative;
    padding-bottom: 56.25%;
    margin: $spacer-single 0;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    iframe, object, embed {
      position: absolute 0 auto auto 0;
      size: 100%;
    }
  }
}
