.TOC {
  box: horizontal middle;
  background-color: $callout-bg;
  padding: $spacer-single $spacer-single*1.5;
  border: 1px solid #eee;
  cursor: pointer;
  @include from(lg) {
    display: none;
  }
  span {
    font-size: .9375rem;
  }
  svg {
    size: $spacer-single;
    fill: #bbb;
    margin-right: $spacer-single*1.25;
  }
}
