.Lead {
  text: $lead-font-color $lead-font-weight left none $lead-font-size $lead-line-height normal;
  &--intro {
    margin-top: 0;
  }
  &--center {
    text-align: center;
  }
  &--overview {
    font-size: $lead-font-size*1.125;
    margin-bottom: $spacer-single*3;
  }
  &--landing {
    font-size: $lead-font-size*1.25;
  }
  &--white {
    @include white;
  }
  &--spaced {
    margin-top: $spacer-single*4;
    margin-bottom: $spacer-single*5.5;
  }
}
// .meta {
//   text: #999 $font-weight-normal left normal .9rem 1.3 normal;
//   margin-bottom: 0;
//   &--caps {
//     text-transform: uppercase;
//     font-size: 90%;
//     letter-spacing: $caps-heading-letter-spacing/4;
//   }
// }
