{% for section in sidebar_sections %}
  {% set alignment = section.sidebar_section_alignment %}
  {% set callout = section.sidebar_section_options %}
  {% set accent = section.sidebar_section_border %}

  <div class="{{'Sidebar-section'|modifiers("#{alignment}, #{callout}, #{accent}")}}">
    {% if section.title %}
      <h4 class="Sidebar-sectionHeading">{{section.title}}</h4>
    {% endif %}
    {% for component in section.sidebar_components %}
      {% include 'components/' ~ component.acf_fc_layout ~ '.twig' with {'data': component} %}
    {% endfor %}
  </div>
{% endfor %}
