//=============================================
// Colors
//=============================================
$black:                        #000000 !default;
$white:                        #ffffff !default;
$blue:                         #0068ac !default;
$sky:                          #628b9d !default;
$red:                          #D65B2D !default;
$gray-darker:                  lighten($black, 13.5%) !default;
$gray-dark:                    lighten($black, 20%) !default;
$gray:                         lighten($black, 33.5%) !default;
$gray-light:                   lighten($black, 46.7%) !default;
$gray-lighter:                 lighten($black, 93.5%) !default;
$gray-lightest:                lighten($black, 96.5%) !default;
$brand-primary:                #B51812 !default;
$brand-secondary:              darken($brand-primary, 3.75%) !default;
$brand-highlight:              #8a0000 !default;


//=============================================
// Spacer
//=============================================
$spacer-quarter:               .25rem !default;
$spacer-half:                  .5rem !default;
$spacer-threefourth:           .75rem !default;
$spacer-single:                1rem !default;


//=============================================
// Layout
//=============================================
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
$wrapper-width:                   1600px !default;
$wrapper-narrow-width:            1400px !default;
$container-width:                 1200px !default;
// $container-text-width:            725px !default;
$container-text-width:            765px !default;
$container-text-nosidebar-width:  925px !default;


//=============================================
// Elements
//=============================================

// Text Colors ////////////////////////////////
$body-color:                   $gray-dark !default;
$headings-color:               $gray-darker !default;

// Links //////////////////////////////////////
$link-color:                    $body-color !default;
$link-hover-color:              $brand-primary !default;

// List ///////////////////////////////////////
$list-style-type-ul-first:      square !default;
$list-style-type-ul-second:     disc !default;
$list-style-type-ul-third:      circle !default;
$list-style-type-ol-first:      decimal !default;
$list-style-type-ol-second:     lower-alpha !default;
$list-style-type-ol-third:      lower-roman !default;
$list-padding-left:             $spacer-single*2 !default;

// HR ////////////////////////////////////////
$hr-padding:                    $spacer-single*1.25 !default;
$hr-color:                      #ccc !default;

// SVG //////////////////////////////////////
$svg-fill:                      currentColor !default;
$svg-size:                      100% !default;
$svg-margin:                    $spacer-half !default;

// Tables /////////////////////////////////////
// $table-cell-padding:            $three-quarter !default;
// $table-bg:                      transparent !default;
// $table-border-width:            1px !default;
// $table-border-color:            $dimmed !default;
// $table-bg-accent:               $muted !default;


//=============================================
// Typography
//=============================================
$font-size-root:               16px !default;
$font-size-small:              14px !default;
$font-size:                    1rem !default;

// Common properties //////////////////////////
$font-weight-light:            300 !default;
$font-weight-normal:           400 !default;
$font-weight-medium:           500 !default;
$font-weight-bold:             600 !default;

// Sans Serif /////////////////////////////////
$font-family-sans:             "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
$font-family-serif:            Georgia, "Times New Roman", Times, serif;
$font-size-h1:                 2.75rem !default;
$font-size-h2:                 2rem !default;
$font-size-h3:                 1.375rem !default;
$font-size-h4:                 1.25rem !default;
$font-size-h5:                 1rem !default;
$font-size-h6:                 .875rem !default;
$font-size-h7:                 .75rem !default;
$line-height:                  1.5 !default;
$headings-line-height:         1.25 !default;

// All Caps Heading ///////////////////////////
$caps-heading-color:                $gray !default;
$caps-heading-font-size:            .882rem !default;
$caps-heading-letter-spacing:       .25px !default;


//=============================================
// Miscellaneous
//=============================================

// Z-Index ///////////////////////////////////
$zindex-header:                  1100 !default;
$zindex-searchbar:               1000 !default;
$zindex-announcement:            1200 !default;

//=============================================
// Components
//=============================================

// Sidebar ////////////////////////////////////
$sidebar-font-size:             .925rem !default;
$sidebar-color:                 lighten($body-color, 10%) !default;
$sidebar-heading-color:         $body-color !default;
$sidebar-border-top:            8px solid #ddd;

// Callout ///////////////////////////////////
$callout-bg:                    lighten($black, 97%) !default;
$callout-padding:               $spacer-single*3.5 !default;

// Buttons ///////////////////////////////////
$button-bg:                     $brand-secondary !default;
$button-small-padding:          $spacer-half .625rem !default;

// Loader //////////////////////////////////////
$loader-size:                  $spacer-single*2 !default;
$loader-color:                 lighten($gray-light, 40%) !default;

// Banner ///////////////////////////////////
$banner-small-height:          220px !default;
$banner-medium-height:         400px !default;
$banner-large-height:          650px !default;
$banner-margin-bottom:         $spacer-single*3 !default;
$banner-fallback:               repeating-linear-gradient(115deg,rgba(155,155,155,.15),rgba(155,155,155,0) 3px,rgba(155,155,155,0) 3px,rgba(155,155,155,0) 5px) !default;

// Gallery //////////////////////////////////
$gallery-color:                 #ccc !default;
$gallery-bg-color:              #181818 !default;
$gallery-thumbnail-size:        60px !default;
$gallery-selected-border:       3px solid $white !default;

// Figures //////////////////////////////////
$figure-caption-font-size:      90% !default;
$figure-caption-line-height:    1.4 !default;
$figure-caption-color:          #ababab !default;

// Footer ////////////////////////////////
$footer-bg-color:               #f7f7f7 !default;
$footer-parent-color:           $brand-primary !default;
$footer-children-color:         $gray-light !default;
$footer-legal-bg:               #8A0000 !default;

// Pills ///////////////////////////////////
$pill-color:                   #fff !default;
$pill-font-weight:             $font-weight-bold !default;
$pill-line-height:             1 !default;
$pill-font-size:               .8rem !default;
$pill-padding:                 .35rem $spacer-half !default;
$pill-padding-outline:         ($spacer-quarter - .105rem) ($spacer-threefourth - .105rem) !default;

// Cards ///////////////////////////////////
$card-height:               $spacer-single*10.5 !default;


// TODO: Add horizontal TOC to the without sidebar template, Move close button on annonuncement bar to the right, Add more seo-tags, File download block, calendar .ics, Style table more, hide whatsapp share on desktop
