.Datepicker {
  .pika-single {
    border: 0;
  }
  .pika-lendar {
    width: 100%;
    margin: 0;
  }
  .pika-title {
    margin-bottom: $spacer-quarter;
    padding: $spacer-quarter;
    background-color: $brand-secondary;
  }
  .pika-label {
    text: $white 600 center normal $font-size-h6 1 normal;
    background-color: transparent;
  }
  .pika-prev,
  .pika-next {
    opacity: 1;
    background-size: 30% 30%;
  }
  .pika-prev {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMC4yOSIgaGVpZ2h0PSIxOC4yOSIgdmlld0JveD0iMCAwIDEwLjI5IDE4LjI5Ij48dGl0bGU+Y2FyZXQtcmlnaHQ8L3RpdGxlPjxwYXRoIGQ9Ik0wLDkuMTRhMS4xLDEuMSwwLDAsMSwuMzQtMC44bDgtOGExLjEyLDEuMTIsMCwwLDEsMS42MSwwLDEuMSwxLjEsMCwwLDEsLjM0Ljh2MTZhMS4xNCwxLjE0LDAsMCwxLTEuOTUuOGwtOC04QTEuMSwxLjEsMCwwLDEsMCw5LjE0WiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==');
  }
  .pika-next {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMC4yOSIgaGVpZ2h0PSIxOC4yOSIgdmlld0JveD0iMCAwIDEwLjI5IDE4LjI5Ij48dGl0bGU+Y2FyZXQtcmlnaHQ8L3RpdGxlPjxwYXRoIGQ9Ik0xMC4yOSw5LjE0YTEuMSwxLjEsMCwwLDEtLjM0LjhsLTgsOGExLjEsMS4xLDAsMCwxLS44LjM0LDEuMSwxLjEsMCwwLDEtLjgtMC4zNEExLjEsMS4xLDAsMCwxLDAsMTcuMTR2LTE2QTEuMSwxLjEsMCwwLDEsLjM0LjM0LDEuMDksMS4wOSwwLDAsMSwxLjE0LDBhMS4xLDEuMSwwLDAsMSwuOC4zNGw4LDhBMS4xLDEuMSwwLDAsMSwxMC4yOSw5LjE0WiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==');
  }
  .pika-button {
    position: absolute;
    size: 100%;
    padding: 0;
    border-radius: 0;
    text: #444 600 center normal $font-size-h6*.95 1 normal;
    background-color: #fcfcfc;
    &:hover {
      background: #eee;
      box-shadow: none;
    }
    @at-root .is-today .pika-button {
      color: $brand-primary;
      font-weight: 600;
      background-color: #eee;
    }
    @at-root .is-selected .pika-button {
      color: $white;
      font-weight: 600;
      background-color: $brand-secondary;
      box-shadow: none;
    }
  }
  .pika-table {
    tr {
      border-bottom: 1px solid #eee;
    }
    td {
      position: relative;
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    tbody tr:last-child {
      border: 0;
    }
  }
  abbr[title] {
    font-size: $font-size-h6*.95;
    font-weight: $font-weight-bold;
    border-bottom: 0;
  }
}
