{% if sections or sidebar_sections %}
<div class="SingleArticle container">
  <div class="SingleArticle-content">
    {# Page Builder #}
    {% if sections %}
      <div class="content-body--plain">
        {% include 'layout/base.twig' %}
      </div>
    {% endif %}
  </div>
  <div class="SingleArticle-sidebar Sidebar">
    {# Sidebar Builder #}
    {% if sidebar_sections %}
      {% include 'layout/sidebar-base.twig' %}
    {% endif %}
  </div>
</div>
{% endif %}
