<ol class="Breadcrumb">
  <li class="Breadcrumb-item">
    <a class="Breadcrumb-home" href="{{site.url}}">Home</a>
  </li>
  {% for item in data %}
    <li class="Breadcrumb-item">
      <a class="Breadcrumb-link" href="{{item.link}}">{{item.title}}</a>
    </li>
  {% endfor %}
</ol>
