<div class="Carousel" data-component="carousel">

  <div class="Carousel-item">
    <div class="Carousel-body">
      <span class="Pill">Publication</span>
      <h3 class="h5"><a href="" class="no-hover">When East Meets West and North Meets South: The Reconciling Mission of Global Christianity</a></h3>
      <p class="meta">17 August, 2015</p>
    </div>
    <a href="" class="Button Button--block">Read More</a>
  </div>

  <div class="Carousel-item">
    <div class="Carousel-body">
      <span class="Pill">Publication</span>
      <h3 class="h5"><a href="" class="no-hover">Discerning What God is Doing among His People Today: A Personal Journal</a></h3>
      <p class="meta">17 August, 2015</p>
    </div>
    <a href="" class="Button Button--block">Read More</a>
  </div>

  <div class="Carousel-item">
    <div class="Carousel-body">
      <span class="Pill">Publication</span>
      <h3 class="h5"><a href="" class="no-hover">Tribute to Dr. George Vandervelde</a></h3>
      <p class="meta">17 August, 2015</p>
    </div>
    <a href="" class="Button Button--block">Read More</a>
  </div>

  <div class="Carousel-item">
    <div class="Carousel-body">
      <span class="Pill">Publication</span>
      <h3 class="h5"><a href="" class="no-hover">Tribute to Dr. George Vandervelde</a></h3>
      <p class="meta">17 August, 2015</p>
    </div>
    <a href="" class="Button Button--block">Read More</a>
  </div>

</div>
