<div class="wrapper">
  <div class="Hero">

    <div class="Hero-grid">
      <a href="" class="Square" style="background-image:linear-gradient(rgba(0,0,0,0) 50%,rgba(0,0,0,1)),url(http://rosenfeldmedia.com/wp-content/uploads/2014/11/book-masthero-practical-empathy-fff2c6-1280x341.jpg)">
        <div class="Square-body">
          <span class="Pill Pill-nohover">Category</span>
          <h2 class="h3">Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
        </div>
        <div class="Square-overlay"></div>
      </a>
    </div>

    <div class="Hero-grid">
      <a href="" class="Square" style="background-image:linear-gradient(rgba(0,0,0,0) 50%,rgba(0,0,0,1)),url(http://rosenfeldmedia.com/wp-content/uploads/2014/11/book-masthero-service-design-8cb5d9.jpg)">
        <div class="Square-body">
          <span class="Pill Pill-nohover">Category</span>
          <h2 class="h3">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
        </div>
        <div class="Square-overlay"></div>
      </a>
    </div>

    <div class="Hero-grid">
      <a href="" class="Square Square--half" style="background-image:linear-gradient(rgba(0,0,0,0) 30%,rgba(0,0,0,1)),url(http://rosenfeldmedia.com/wp-content/uploads/2014/11/book-masthero-validating-product-ideas-1280x400.jpg)">
        <div class="Square-body">
          <span class="Pill Pill-nohover">Category</span>
          <h2 class="h3">Now advertisers can target users who tweet a certain emoji</h2>
        </div>
        <div class="Square-overlay"></div>
      </a>
      <a href="" class="Square Square--half" style="background-image:linear-gradient(rgba(0,0,0,0) 30%,rgba(0,0,0,1)),url(http://rosenfeldmedia.com/wp-content/uploads/2014/11/book-masthero-practical-empathy-fff2c6-1280x341.jpg)">
        <div class="Square-body">
          <span class="Pill Pill-nohover">Category</span>
          <h2 class="h3">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
        </div>
        <div class="Square-overlay"></div>
      </a>
    </div>

  </div>
</div>
