<div class="Modal">
  <a href="" class="Modal-close">
    <svg aria-hidden="true" role="presentation" title="">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
    </svg>
  </a>
  <div class="Embed">{{welcome.url|modest}}</div>
</div>
