<div class="Duet">
  <div class="Duet-row">
    <div class="Duet-image" style="background-image:url(https://c1.staticflickr.com/9/8163/6969903008_c3164f204e_z.jpg)"></div>
    <div class="Duet-text">
      <h3 class="Heading">Our Journey</h3>
      <p class="Lead">Greenpeace and people like you are a people-powered movement fighting for a green and peaceful future for our oceans, forests, food, climate and democracy.</p>
      <a href="" class="Button Button--outline">View Our Journey</a>
    </div>
  </div>
  <div class="Duet-row">
    <div class="Duet-text">
      <h3 class="Heading">Our Journey</h3>
      <p class="Lead">Greenpeace and people like you are a people-powered movement fighting for a green and peaceful future for our oceans, forests, food, climate and democracy.</p>
      <a href="" class="Button Button--outline">View Our Journey</a>
    </div>
    <div class="Duet-image" style="background-image:url(https://c2.staticflickr.com/8/7314/9042806250_a4aafb558c_z.jpg)"></div>
  </div>
</div>
